<!DOCTYPE html>
<html lang="en">

<!-- ============ HEAD ========= -->
<%- include('./partials/head.ejs') %>
<!-- ========= Head =========== -->

<body>
    <h1>Create Pokemon</h1>

    <form action="/" method="POST">
        <input type="text" name="name" placeholder="Pokemon name"><br>
        <input type="text" name="" placeholder="Pokemon Type"><br>
        <input type="text" name="name" placeholder="Attack type"><br>
        <input type="text" name="" placeholder="Special moves"><br>
        Add an image for your pokemon: <br>
        <input type="file" src="" alt=""> <br>
        <br>
        
        <input type="submit" value="Add Pokemon">
    </form>
    
</body>
</html>