<!DOCTYPE html>
<html lang="en">

<!-- ============ HEAD ========= -->
<%- include('./partials/head.ejs') %>
<!-- ========= Head =========== -->

<body>

    <form action="/" method="POST">
        <input type="text" name="name" placeholder="Pokemon name"><br>
        <input type="text" name="" placeholder="Pokemon Type"><br>
        <input type="submit" value="Add Pokemon">
    </form>
    
</body>
</html>