* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ====== GENERAL STYLING ====== */
/* not specific to one page  */
body {
    background-color: rgb(41, 40, 40);
    color: white;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

img {
    border-radius: 30%;
    width: 250px;
    height: 250px;
}
img .editimage {
    width: 10px;
}

button {
    margin-left: 10px;
    border-radius: 25%;
}

.flex-btn {
    display: flex;
    justify-content: space-around;
}

ul {
    color: cyan;
}

ul li {
    text-decoration: none;
    list-style: none;
}


/* ===== INDEX page Styles ====== */

.main-index {
    width: 100%;
    max-height: 85vh;
    overflow: hidden scroll;
    text-align: center;
}

.index-container {
    display: inline-block;
    text-align: center;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(63, 59, 59);
}

.btn-over {
    font-size: 20px;
    margin: 10px;
}


/* ====== Show Page styles ===== */
.show-container {
    display: flex;
    justify-content: space-around;
}
