* {
    box-sizing: border-box;
    margin: 0;
}

/* ====== GENERAL STYLING ====== */
/* not specific to one page  */
body {
    background-color: rgb(41, 40, 40);
    color: white;
}

img {
    border-radius: 30%;
    width: 250px;
    height: 250px;
}
img .editimage {
    width: 10px;
}

button {
    /* padding: 2px; */
    margin-left: 10px;
    border-radius: 25%;
}

/* ===== INDEX page Styles ====== */
.index-container {
    border: solid 2px red;
    display: grid;
    justify-content: center;
    align-content: center;
}


/* ====== Show Page styles ===== */
.show-container {
    display: flex;
}
