* {
    box-sizing: border-box;
}

body {
    background-color: rgb(41, 40, 40);
    color: white;
}

img {
    border-radius: 30%;
    width: 300px;
    height: 300px;
}

.container {
    /* display: grid; */
    /* grid-template-columns: 100px 100px 100px; */
    gap: 5px;
    /* height: 100%; */
}

.poke-container {
    border: 2px solid blue;
    display: grid;
    gap: 10px;
}

.show-container {
    display: flex;
}
/* span > i {
     color: greenyellow;
} */